.detailq{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .detailqq{
        width: 85%;
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .detailher{
            width: 60%; 
            height: 100%;
            // text-align: center;
            font-weight: 500;
            color: black;
            background: #fff;
            .imgs{
                width: 100%;
                padding: 10px;
                h3{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .markdown{
                width: 60%; 
                height: 100%;
                >div{
                    width: 60%; 
                    height: 100%;
                    h1{
                        width: 60%;
                        font-weight: bolder;
                        font-size: 25px;
                        text-align: center;
                        background: #f0c;
                    }
                    .detailt{
                        width: 60%; 
                        height: 100%;
                    }
                }
            }
        }
        .detailfoll{
            width: 35%;
            height: 100%;
            background: #fff;
            .detailtop{
                width: 100%;
                // padding: 10px;
                // height: 50px;
                h4{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 10px;
                    font-weight: bolder;
                    border-bottom: 1px solid #ccc;
                }
                ul{
                    width: 100%;
                    padding-left: 10px;
                    li{
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        // font-weight: bold;
                    }
                }
            }
        }
    }
}