.browse{
    width: 100%;
    height: 100%; 
    text-align:left;
}
.browseheader{
    width: 100%;
    height: 168px; 
    // flex-direction: column; 
    .headerchild{ 
        padding-top: 15px;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around; 
            div{
                margin-top: 10px;
                width: 300px; 
                span{
                    display: inline-block;
                    width: 50px;
                    text-align: right;
                }
                input{
                    width: 156px;
                    height: 31px; 
                }
            }
        } 
    .divs{
        display: flex;
        justify-content:flex-end;
        margin-top: 10px;
        margin-right:122px;
        button{
            width: 64px;
            height: 32px;
            margin-left: 10px;
            font-size: 14px;
        }
        button:nth-child(2){
            border: 1px solid #ccc;
            color: black;
            background: #fff;
        }
    }
}  
// @media screen and (min-width:800px){ 
.browsebody{
    width: 100%;
    height:100%;  
    margin-top: 20px;
    .browsebodys{
        height: 30px; 
    }
    // .ant-table-wrapper{
    //     .ant-spin-nested-loading{
    //         .ant-spin-container{
    //             >div{
    //                 >div{
    //                     >div{
    //                         table{
    //                             tbody{
    //                                 tr{
    //                                     td{
    //                                         color: red; 
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}
 
// }