.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user_box{
    padding: 20px;
    width: 100%;
    height: 100%;
    p{
       width: 100%;
       height: 30px;
       line-height: 30px;
       :hover{
           background: #ccc;
       }
    }
    
}