.home{
    width: 100%;
    height: 100%;
    .ant-layout-header, .site-layout-background{
        background: #fff;   
    }
    .ant-layout, .ant-layout-has-sider{
        width: 100%;
        height: 100%;
    }
   
   .rv_9xUBx9vsH6qbhqqmOc {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
    }
    .rv_9xUBx9vsH6qbhqqmOc img {
        width: 32px;
        height: 32px;
    }
    img {
        width: 100%;
        height: 120px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        object-fit: cover;
    }
    .ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child{
        color: red;
    }
    .ant-layout-sider-collapsed span{
        display: none;
    }
 
    .anticon svg {
        display: inline-block;
    }
    svg:not(:root) {
        overflow: hidden;
    }
    .ant-avatar-sm.ant-avatar-icon {
        font-size: 14px;
    }
    .ant-dropdown-trigger .ant-dropdown-link{
        width: 50px;
        height: 50px;
    }
    .ant-layout-sider-collapsed span{
        display: none;
    }
    .ant-btn-icon-only.ant-btn-lg {
        width: 40px;
        height: 40px;
        padding: 4.9px 0;
        font-size: 18px;
        border-radius: 2px;
    }
}


@media screen and (min-width:950px){
    .O8g9pCnM_qIcqSuaJm5uP{
        width: 200px;
        height: 100%;
        margin-right: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        ._283jLEQ1DhWAe2fw-CeVAf{
            margin-right: 15px;
            font-size: 25px;
        }
    }
}
@media screen and (max-width:950px){
    .O8g9pCnM_qIcqSuaJm5uP{
        width: 200px;
        height: 100%;
        display: none;
    }
}