.oper_p {
  display: flex;
  justify-content: space-around;
  span {
    color: rgba(9, 105, 248, 0.925);
    cursor: pointer;
  }
  a {
    color: #ccc;
    padding: 0 10px;
  }
}

.comment {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  .box_from {
    width: 100%;
  }
  .comment_tables {
    width: 100%;
    margin-top: 20px;
  }
  .comment_froms {
    width: 100%;
    line-height: 50px;
    align-items: center;
    display: flex;
    // background-color: #efefef;
  }
  .comment_inputs {
    width: 200px;
    margin-left: 20px;
  }
  .comment_buttons {
    margin-left: 20px;
    margin-top: -15px;
  }
  .comment_sections {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: start;
    .comment_action_span {
      margin-left: 20px;
    }
  }
  .comment_paginations {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: flex-end;
    span {
      // margin-right: 20px;
    }
  }
}
