.root{
    width: 100%;
    height: 100%;
    background: rgb(222, 230, 236);
    position: relative;
}
// .head{
//     width: 100%;
//     height: 60px;
//     background: #fff;
// }
// .li{
//     width: 34%;
//     height: 60px;
//     display: flex;
//     flex: 1;
//     justify-content: space-between;
//     align-items: center;
//     color: #fff;
//     font-size: 16px;
//     margin: 0 6%;
// }
.mains{
    min-height: calc(100%-64px);
    background: var(--bg-body);
}

:global{
    .container{
        margin-right: auto;
        margin-left: auto;
        // background: var(--bg);
    }
    @media (max-width:768px){
        .container{
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    @media (min-width:768px){
        .container{
            width: 768px;
        }
    }
    @media (min-width:768px){
        .container{
            width: 970px;
        }
    }
    @media (min-width:768px){
        .container{
            width: 1140px;
        }
    }
}

p img{
    width: 100px;
    height: 36px;
    float: left;
    margin-top: 20px;
}
.loading{
    float: right;
    padding: 10px;
    color: red;
}
