.pageset{
    width: 100%;
    height: 100%;
    .search{
        width: 100%;
        margin-bottom: 20px;
    }
    .tag{
        width: 200px;
        height: 50px;
        span{
            width:100%;
            height:100%;
        }
    }
    .add{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: right;
        align-items: center;
        button{
            width: 80px;
            margin-right: 15px;
        }
    }
}