@keyframes getup{
    0%{
        bottom:0%;
        background: rgba(1, 136, 251, 0.15);
        transform:rotate(30deg);
    }
    25%{
       background: rgba(59, 166, 253, 0.15);
       transform:rotate(90deg);
 
    }
 
    50%{
      bottom: 75%;
      background: rgba(125, 194, 255, 0.15);
      transform:rotate(120deg);
 
 
    }
    100%{
        bottom:100%;
        background: rgba(229, 239, 247, 0.15);
        transform:rotate(180deg);
 
 
    }
 
  
 }
 @media screen and (min-width:0px) and (max-width:780px) {
     .ant_row{
        margin: 100px 30px 0 30px;
        position:absolute;
        top: 30px; 
        left: 3%; 
        width:600px;
        height: 600px;
     }
 }
 @media screen and (min-width:781px){
    .ant_row{
         position: fixed;
         top: 40%;
         left: 50%;
         transform: translate(-50%,-50%);
         width: 80vw;
         height: 55vh;
         box-shadow: 0 2px 8px #f0f1f2;
         border-radius: 4px;
         display: flex;
         
    }
}
 .login{
     width: 100%;
     height: 100%;
     position: relative;
     z-index: 999;
     .login_box{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #e7eaee;
         z-index: -10;
         display: flex;
         justify-content: space-around;
         li{
             position: absolute;
             list-style: none;
             bottom: -150px;
             width: 40px;
             height: 40px;
             background: salmon;
             animation:getup 12s linear infinite;
             margin-left: 100px;
             
         }
      
 
     }
  
     .ant_row{
         .ant_col1{
            img{
                width: 100%;
                height: 100%;
            }
         }
         .ant_col2{
             background: #f7fafb;
             display: flex;
             align-items: center;
             .user_box{
                 width: 100%;
                 height: 50%;
                 padding: 20px;
                 h1{
                     font-size: 25px;
                     font-weight: 200;
                 }
             }

         }
     }
   
 }