.workbench{
    main{
        flex: 1;
        padding: 24px;
        overflow: auto;
        .antd{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            background: #fff;
            border-radius: 2px;
            width: 100%;
            height: 320px;
            &>p{
                padding: 15px 20px;
                border-bottom: solid 1px #ccc;
            }
        }

    }
}