.setting{
    width: 100%;
    height: 100%;
    padding: 20px;
    .settBox{
      width: 100%;
      background:  rgb(255, 255, 255);
      padding: 10px 0px 10px 0px;
    }
    .text{
        width: 100%;
        height: 100%;
    }
}