.li{
    // margin-top: -3px;
    // padding: 10px;
    list-style: none;
    &:nth-child(1){
      width: 100%;
      height: 120px;
    }
  }
  .li a{
    color: #000;
  }
  .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    span{
      font-weight: normal;
      color: rgb(94, 94, 94);
      font-size: 14px;
    }
  }
  .title:hover{
    color: red;
    cursor: pointer;
  }
  .page{
    // composes:title;
    color: red;
  }
  dl {
    border-bottom: solid rgb(238, 238, 238) 1px;
  }
  dl dt{
    float: left;
    padding: 0 10px;
  }
  dl dd{
    font-size: 14px;
    font-weight: bold;
  }
  .img{
    width: 190px;
    height: 104px;
  }



  // .main{
  //   .li{
  //     width: 100%;
  //     padding: 1rem;
  //     background-color: var(--bg-second);
  //     border-radius: var(--border-radius);
  //     box-shadow: var(--box-shadow);
  //     overflow: hidden;
  //     .divs{
  //       position: relative;
  //       .p1{
  //         color: var(--main-text-color);
  //         overflow: hidden;
  //         font-weight: 600;
  //         font-size: 16px;
  //         line-height: 22px;
  //         text-overflow: ellipsis;
  //         white-space: nowrap;
  //         &>span{
  //           color: #8590a6;
  //           font-weight: 100;
  //         }
  //       }
  //     }
  //     .dl{
  //        dt{}
  //     }
  //   }
  // }
  
  //   .img{
  //     width: 190px;
  //     height: 104px;
  //   }