.tps{
    width: 65%;
    height: 100%;
    background-color: #fff;
    margin-left: 40px;
    padding: 20px;
    h1{
        font-size: 40px;
        font-weight: bold;
    }
}
.right{
    width: 320px;
    height: 463px;
    // border: solid #ccc 1px;
    float: right;
    position: absolute;
    top:16%;
    right: 30px;
  }
  .top{
    width: 100%;
    height: 260px;
    background: #fff;
    p{
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    ul li{
      list-style: none;
      // padding: 2px;
      line-height: 30px;
      margin-left: 20px;
    }
  }
  .bottom{
    width: 100%;
    height: 184px;
    background: #fff;
    margin-top: 20px;
    p{
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    ul li:hover{
      color: red;
      cursor: pointer;
    }
  }
  .ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 0 7px 7px 0;
    color: var(--second-text-color);
    line-height: 1.5em;
    transition: all .2s ease-in-out;
    border: solid rgb(236, 236, 236) 1px;
  }
  .lis li{
     list-style: none;
     float: left;
  }
  .top ul li:hover{
    color: red;
    cursor: pointer;
  }
  .middle{
    position: absolute;
    top: 35%;
    margin-left: 280px;
    h2{
      font-size: 30px;
      // font-weight: bold;
      color: #fff;
    }
    p{
      font-size: 20px;
      color: #fff;
    }
  }