.classify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search{
        width: 350px;
        height: 250px;
        padding: 10px;
        background-color: rgb(253, 253, 253);
        border: solid rgb(255, 255, 255) 1px;
        input{
            height: 30px;
        }
    }
    .article{
        width: 600px;
        // height: 150px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: solid rgb(238, 238, 238) 1px;
        // border: solid #ccc 1px;
         button:hover{
            color: #fff;
            background-color: rgb(0, 153, 255);
            cursor: pointer;
        }
    }
}
