@media screen and(min-width:1146px) {
  .archives_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
    position: relative;
  }
  .archives__box_left {
    width: 800px;
    background-color: #fff;
    padding-left: 20px;
    margin-left: 100px;
    .h1 {
      text-align: center;
      h2,
      h3,
      strong,
      p {
        margin-left: 20px;
      }
    }
  }
  .archive_imgs {
    padding: 20px 20px 20px 0;
  }
  .archives__box_right {
    width: 300px;
    margin-top: 20px;
    background: #fff;
    display: block;
    margin-left: 10px;
  }
  .archives__box_right li {
    line-height: 30px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
  }
  .archives_box_h3 {
    line-height: 45px;
    padding-left: 20px;
    font-weight: bold;
  }
  .archives_contents {
    margin-right: 60px;
  }
  .archive_positionss {
    position: absolute;
    width: 45px;
    top: 15%;
    left: -20px;
    z-index: 2;
    text-align: center;
    p {
      width: 25px;
      height: 25px;
      border-radius: 30px;
      border: solid 1px #ccc;
      svg {
        width: 25px;
        height: 25px;
        color: #ccc;
      }
      svg:hover {
        color: hotpink;
      }
    }
  }
  .archive_weima {
    display: flex;
    .archive_weima_con {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .archive_as {
      color: hotpink;
      cursor: pointer;
      margin-left: -10px;
    }
  }
  .archive_xin {
    position: relative;
  }
  .archive_nums {
    position: absolute;
    z-index: 1;
    right: -10px;
    top: -10px;
    width: 40px;
    color: #fff;
    line-height: 20px;
    border-radius: 10px;
    background-color: hotpink;
  }
  .archive_sparks {
    height: 100px;
    margin: 0 auto;
    .archive_sparkes_one {
      h5 {
        text-align: center;
      }
    }
    textarea {
      width: 100%;
    }
  }
}
@media screen and(max-width:1146px) {
  .archives_box {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 94%);
  }
  .archives__box_left {
    width: 100%;
    background-color: #fff;
    .h1 {
      text-align: center;
    }
    h2,
    h3,
    strong,
    p {
      margin-left: 20px;
    }
  }
  .archive_imgs {
    padding: 20px;
  }
  .archives__box_right {
    width: 100%;
    margin-top: 20px;
    background: #efefef;
    position: relative;
    display: none;
  }
  .archives__box_right li {
    line-height: 30px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
  }
  .archives_box_h3 {
    line-height: 45px;
    padding-left: 20px;
    font-weight: bold;
  }
  .archives_contents {
    margin-right: 60px;
  }
  .archive_positionss {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: #ffff;
    padding-top: 10px;
    &:nth-child(1) p {
      position: relative;
    }
    p {
      width: 50px;
      height: 50px;
      svg {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        color: #ccc;
      }
      svg:hover {
        color: hotpink;
      }
    }
  }
  .archive_weima {
    display: flex;
    .archive_weima_con {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .archive_as {
      color: hotpink;
      cursor: pointer;
      margin-left: -10px;
    }
  }
  .archive_xin {
    position: relative;
  }
  .archive_nums {
    position: absolute;
    right: -10px;
    top: -5px;
    width: 40px;
    line-height: 20px;
    border-radius: 10px;
    background-color: hotpink;
  }
  .archive_sparks {
    height: 100px;
    margin: 0 auto;
    .archive_sparkes_one {
      h5 {
        text-align: center;
      }
    }
    textarea {
      width: 100%;
    }
  }
}
