.wed{
    width: 78%;
    height: 100%;
    .tops{
        width: 78%;
        height: 120px;
        // border: solid red 1px;
        background-color: #fff;
        margin-left: 70px;
        p{
            margin-left: 320px;
            margin-top: 20px;
        }
        p span{
            color: red;
            font-size: 20px;
        }
    }
    .bot{
        width: 78%;
        height: 2400px;
        // border: solid red 1px;
        background-color: #fff;
        margin-left: 70px;
        margin-top: 20px
    }
    .right{
        width: 320px;
        height: 463px;
        // border: solid #ccc 1px;
        float: right;
        position: absolute;
        top:18%;
        right: 100px;
      }
      .top{
        width: 100%;
        height: 260px;
        background: #fff;
        p{
          font-weight: 700;
          padding: 1rem;
          border-bottom: solid rgb(228, 228, 228) 1px;
        }
        ul li{
          list-style: none;
          // padding: 2px;
          line-height: 30px;
          margin-left: 20px;
        }
      }
      .bottom{
        width: 100%;
        height: 184px;
        background: #fff;
        margin-top: 20px;
        p{
          font-weight: 700;
          padding: 1rem;
          border-bottom: solid rgb(228, 228, 228) 1px;
        }
        ul li:hover{
          color: red;
          cursor: pointer;
        }
      }
      .ul li{
        list-style: none;
        display: inline-block;
        padding: 2px 7px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        margin: 0 7px 7px 0;
        color: var(--second-text-color);
        line-height: 1.5em;
        transition: all .2s ease-in-out;
        border: solid rgb(236, 236, 236) 1px;
      }
      .lefts{
        margin-left: 260px;
      }
    .archives .left .reds{
      color: red;
    }
    
    .archives .left .red{
      color: red;
      // margin-left: 260px;
    }
    .leftContent p{
      font-size: 35px;
      font-weight: 500;
    }
    h3{
      margin-top: 0;
      margin-bottom: .5em;
      color: #333;
      font-weight: 500;
      font-size: 20px;
    }
    .time{
      list-style: disc;
      margin-left: 35px;
      color: #ccc;
     .titles{
       margin-left: 20px;
       font-size: 16px;
       font-weight: bold;
       line-height: 40px;
     }
    }
    .titles:hover{
      color: red;
    }
    .lis li{
      list-style: none;
      float: left;
    }
    .top ul li:hover{
     color: red;
     cursor: pointer;
    }
}
.li{
    margin-top: 15px;
    padding: 10px;
    list-style: none;
  }
  .li a{
    color: #000;
  }
  .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    span{
      font-weight: normal;
      color: rgb(94, 94, 94);
      font-size: 14px;
    }
  }
  .title:hover{
    color: red;
    cursor: pointer;
  }
  .page{
    // composes:title;
    color: red;
    dl {
      // width: 400px;
      // height: 86px;
      border-bottom: solid rgb(238, 238, 238) 1px;
    }
    dl dt{
      float: left;
      // margin-left: 200px;
    }
    dl dd{
      margin-left: 210px;
      font-size: 14px;
      font-weight: bold;
      // margin-top: 20px;
    }
  }
  
  .img{
    width: 190px;
    height: 104px;
  }