.artilce{
    width: 100%;
    height: 100%;
    color: #000;
    background: #fff;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>h2{
        font-weight: 800;
        text-align: center;
        font-size: 25px;
        // margin-top: 300px;
    }
}