.editor{
    .ant{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        .left{
          padding: 20px;
          &>span{
              margin-right: 15px;
              font-size: 17px;
              border: solid 1px #fff;
              padding: 1px;
              padding: 1px 5px;
          }
          &>input{
              padding: 5px 3px;
              width: 300px;
              border-bottom: solid 1px blue;
              outline: none;
          }
        }
        .right{
            padding: 20px;
            &>button{
                width: 50px;
                height: 30px;
                margin-right: 7px;
                background-color: #0188fb;
                color: #fff;
            }
            &>span{
                color: #0188fb;
                margin-left: 10px;
            }
        }
    }
}
// {
//     height:calc(100vh - 28px);
// }
:global{
    section .for-container{
        height: 100%;
    }
}

iframe{
    width: 100%;
    height: 100%;
}
