.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding: 0 5%;
    position: relative;
    border-bottom: 1px solid var(--border-color);
    background-color: #fff;
    .left {
      width: 164px;
      height: 100%;
      line-height: 64px;
      img {
        width: 100px;
      }
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      ul {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        li {
          font-size: 16px;
          margin: 0 20px;
          cursor: pointer;
          white-space: nowrap;
        }
        li.active {
          color: var(--primary-color);
        }
        li:hover {
          color: var(--primary-color);
        }
      }
      .action {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        svg {
          font-size: 24px;
          margin-left: 30px;
        }
        svg:hover {
          color: var(--primary-color);
        }
      }
    }
    .menu {
      color: var(--primary-color);
      font-size: 25px;
      position: absolute;
      right: 0;
      top: 23%;
      transform: translateX(-50%);
      display: none;
    }
.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    .main {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      .main_top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin-bottom: 12px;
        h1 {
          font-size: 1.5rem;
          font-weight: 600;
        }
        span {
          color: #00000059;
          cursor: pointer;
        }
      }
    }
  }

.mobileNav{
    position: absolute;
    right: 15px;
    span{
        display: block;
        width: 25px;
        height: 4px;
        border-radius: var(--border-radius);
        background-color: var(--primary-color);
        opacity: 1;
        transition: all 250ms ease-in-out 0s;
    }
    span:nth-child(2){
        margin: 5px 0;
        // color: var(--main-text-color);
    }
}
.mobileNav.active{
    span:nth-child(2){
        opacity: 0;
    }
    span:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    span:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}
@media (max-width: 768px) {
    .mobileNav{
        display: block;
    }
    nav{
        position: absolute;
        height:0;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 64px;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;
    }
    .mobileMenu{
        max-height: 100vh;
        overflow: visible;
        z-index: 88;
        ul{
            flex-direction: column;
            width: 100%;
            background: var(--bg);
            align-items: center;
        }
        ul:last-child{
            padding-bottom: 10px;
        }
        li{
            text-align: center;
            width: 100%;
            line-height:48px;
        }
    }
    :global{
        button.ant-switch{
            margin: 10px 0;
        }
    }
}

@media (min-width: 768px) {
    .mobileNav{
        display: none;
    }
}
:global{
    .ant-layout-header{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.lus{
    margin-right: 80px;
    font-size: 20px;
    li{
        margin-left: 60px;
    }
}
}