.commond{
    width: 100%;
    height: 300px;
    background-color: #fff;
    margin-top: 25px;
    cursor: pointer;
    .div{
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 20px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
        display: flex;
        line-height: 48px;
    }
    .table{
        padding: 24px;
        .left{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #000;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5715;
            list-style: none;
            font-feature-settings: "tnum";
            position: relative;
            .center{
                position: relative;
                .container{
                    position: relative;
                    transition: opacity .3s;
                    .ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        .li{
                            border-bottom: 1px solid #f0f0f0;
                            display: block;
                            // display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 12px 0;
                            color: #000;
                            outline: none;
                            .a{
                                color: #0188fb;
                            }
                            .button{
                                color: #0188fb;
                                background: transparent;
                                border-color: transparent;
                                box-shadow: none;
                                cursor: pointer;
                            }
                            .faces{
                                    position: relative;
                                    top: -1px;
                                    display: inline-block;
                                    width: 6px;
                                    height: 6px;
                                    vertical-align: middle;
                                    border-radius: 50%;
                                }
                            .spans{
                                float: right;
                               .pass{
                                   color:#0188fb ;
                                   padding:0 10px;

                                   font-size: 15px;
                               }
                              }
                        }
                    }
                }
            }
        }
    }
}