.heads{
    width: 100%;
    height: 60px;
    border: solid rgb(224, 224, 224) 1px;
    margin-top: 20px;
    line-height: 50px;
}
a.active{
    color: red;
}
a{
    color: #000;
    padding: 12px 19px;
}