.aticleDetail_box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .aticleDetail_leftbox{
        width: 70%;
    }

    .aticleDetail_left{
        width: 100%;
        background: #fff;
        padding: 20px;
        img{
            width: 100%;
            height: 100%;
        }
        .aticleDetail_title{
            width: 100%;
            height: 100px;
            text-align: center;
            margin-top: 50px;
        }
        .aticleDetail_buttom{
            width: 100%;
            height: 50px;
            text-align: center;
        }
       
    }
    h2{
        margin-top: 30px;
        text-align: center;
    }
    .aticleDetail_board{
        width: 100%;
        height: 300px;
        background: #fff;
    }
    

    .aticleDetail_rightbox{
        width: 25%;
            .aticleDetail_righttop{
                width: 100%;
                background: #fff;
                padding: 10px;
                p{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                }
                p:hover{
                    background: #ccc;
                    color: red;
                }


            }
            .aticleDetail_rightbuttom{
                width: 100%;
                padding: 10px;
                background: rgba(237, 241, 226, 0.1);
                p{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                }
                p:hover{
                    color: red;
                }
            }
    }

    .ant-anchor-wrapper{
        background: red;
    }
}