.antdCard{
    width: 100%;
    height: 120px;
    margin-top: 90px;
    background-color: #fff;
    &>p{
        padding: 15px 20px;
        border-bottom: solid 1px #ccc;
    }
    .antdBody{
        .antdBodys{
            display: flex;
            row-gap: 0px;
            flex-flow: row wrap;
            .dis{
                padding: 25px 70px;
            }
        }
    }
}