.Pageeditor{
     width: 100%;
     height: 100%;
     .editor_header{
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         button{
               margin-right: 20px;
         }
         div{
             margin-left: 10px;
             margin-right: 30px;
         }
         input{
             height: 40px;
             border: none;
             outline: none;
             background: none;
             border-bottom: 1px solid #ccc;
         }
     }
}