.mail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .search {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 24px;
        p:nth-child(1) {
            width: 100%;
            height: 40px;
            margin-left: 40px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                margin-left: 10px;
            }
            Input {
                width: 20%;
                height: 32px;
                margin-left: 10px;
            }
        }
        p:nth-child(2) {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            Button {
                margin-right: 12px;
                width: 60px;
                height: 32px;
            }
        }
        p:nth-child(3) {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            Button {
                margin-right: 12px;
                width: 60px;
                height: 32px;
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
    .page{
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}