.NewArticle{
    width: 100%;
    height: 458px;
    background-color: #fff;
    margin-top: 25px;
    cursor: pointer;
    .div{
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 20px;
        color: #333;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
        display: flex;
        line-height: 48px;
    }
    .word{
        margin: -1px 0 0 -1px;
        padding: 0;
        .imgp{
            width: 33.3%;
            text-align: center;
            float: left;
            width: 33.33%;
            // padding: 24px;
            border: 0;
            border-radius: 0;
            box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, inset 1px 0 0 0 #f0f0f0, inset 0 1px 0 0 #f0f0f0;
            transition: all .3s;
        }
    }

}