.classify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search{
        width: 350px;
        height: 250px;
        padding: 10px;
        background-color: aliceblue;
        border: solid rgb(238, 238, 238) 1px;
        input{
            height: 30px;
        }
    }
    .article{
        width: 600px;
        // height: 150px;
        padding: 10px;
        background-color: aliceblue;
        border: solid rgb(238, 238, 238) 1px;
        // border: solid #ccc 1px;
    }
}
