.about{
  // background-color: #ccc;
  .About{
      img{
          width: 75%;
         margin-left: 130px;
      }
      h2{
          width: 87%;
          text-align: center;
          margin-left: 120px;
          margin-top: 20px;
          margin-bottom: 30px;
        
      }
  }
  .textarea{
    background-color: #fff;
    width:75%;
    margin-left: 130px;
    padding: 16px;
    height: 210px;
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    &>div{
      display: block;
      .relative{
        position: relative;
        textarea{
          margin-left: 15px;
          border-color: var(--comment-editor-border-color);
          color: var(--main-text-color);
          background-color: var(--bg-second);
          box-shadow: none!important;
          width: 95%;
          height: 135px;
          padding: 10px 7px;
         font-size: 15px;
         outline: none;
         border: solid 1px #ccc;
        }
      }
      .foot{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        span{
          display: flex;
          align-items: center;
          color: var(--disable-text-color);
          cursor: pointer;
          margin-left: 13px;
          :hover{
            color: red;
          }
          &>svg{
          margin-bottom: -1px;
          }
          &>span{
            margin-left: 4px;
            transform: translateY(1px);
          }
        }
      .button{
        &>button{
         margin-right: 30px;
         cursor: pointer;
        }
      }
        
      }
    }
  }
  .aboutUl{
      padding: 16px;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      margin-top: 1rem;
      background-color: #fff;
      width:75%;
      margin-left: 130px;
      header{
          .ant{
              box-sizing: border-box;
              margin: 0;
              padding: 0;
              color: #000;
              font-size: 14px;
              font-variant: tabular-nums;
              line-height: 1.5715;
              list-style: none;
              font-feature-settings: "tnum";
              position: relative;
              display: inline-block;
              overflow: hidden;
              color: #fff;
              white-space: nowrap;
              text-align: center;
              vertical-align: middle;
              background: #ccc;
              width: 32px;
              height: 32px;
              line-height: 32px;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              line-height: 32px;
              font-size: 18px; 
              background-color: rgb(82, 196, 26);
              .antString{
                  position: absolute;
                  left: 50%;
                  transform-origin: 0 center;
                  line-height: 32px; 
                  transform: scale(1) translateX(-50%);
              }
          }
          span{
              margin-left: 20px;
              strong {
                  font-weight: bolder;
              }
          }
      }
      main{
          padding: 12px 0px 12px 40px;
      }
      footer{
          padding-left: 40px;
          .response:hover{
              cursor: pointer;
              color: red;
          }
          .footerss{
            display: block;
              &>div{
                opacity: 1;
                .foots{
                  padding: 16px 0;
                 header{
                  h4{
                    font-weight: 800;
                    .ant{
                      box-sizing: border-box;
                      font-size: 14px;
                      font-variant: tabular-nums;
                      line-height: 1.5715;
                      list-style: none;
                      font-feature-settings: "tnum";
                      position: relative;
                      display: inline-block;
                      overflow: hidden;
                      color: #fff;
                      white-space: nowrap;
                      vertical-align: middle;
                      background: #ccc;
                      border-radius: 50%;
                      width: 25px;
                      height: 25px;
                      line-height: 25px; 
                      background-color: rgb(196, 156, 26);
                      margin-right: 5px;
                    }
                    .res{
                      font-size: 15px;
                      margin-left:5px;
                      font-weight: 600px;
                    }
                  }
                 }
                }
              }
          }
      }
      .opacity{
        // opacity: 1;
        height: 165px;
        overflow: hidden;
        display: none;
        .opacitys{
          padding-top: 16px;
          .resp{
            .opacitysss{
              position: relative;
              textarea{
                overflow-y: hidden;
                resize: none;
                // margin-left: 15px;
                border-color: var(--comment-editor-border-color);
                color: var(--main-text-color);
                background-color: var(--bg-second);
                box-shadow: none!important;
                width: 90%;
                height: 90px;
                padding: 10px 7px;
               font-size: 15px;
               outline: none;
               border: solid 1px #ccc;
              }
            }
            .spans{
              display: flex;
              justify-content: space-between;
              padding-top: 1rem;
              margin-left: -40px;
              &>span{
                display: flex;
                align-items: center;
                color: var(--disable-text-color);
                cursor: pointer;
                svg:hover{
                  color: red;
                }
                span:hover{
                  color: red;
                }
              }
              .publi{
                  button:nth-child(1){
                    margin-right: 16px;
                    padding: 0 7px;
                    border-color: var(--comment-editor-border-color);
                    color: var(--main-text-color);
                    background-color: var(--comment-editor-disable-bg);
                    &>span{
                      display: inline-block;
                      cursor: pointer;
                    }
                  }
                 button:nth-child(2){
                  border-color: var(--comment-editor-border-color);
                  color: var(--main-text-color);
                  background-color: var(--comment-editor-disable-bg);
                  margin-right: 85px;
                  &>span{
                    display: inline-block;
                    cursor: pointer;
                  }
                 }
              }
            }
          }
        }
      }

  }
  .page{
      text-align: center;
      width:75%;
      margin-left: 130px;
      background-color: #fff;
      margin-top: 50px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        i{
          svg{
              margin-bottom: 10px;
          }
        }
     }
  }
  .aboutrRead{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 500px;
  }
 .aboutBottom{
     width:75%;
     margin-left: 130px;
     background-color: #fff;

    dl dd{
      margin-left: 210px;
      font-size: 14px;
      font-weight: bold;
      p{
          span{
              svg{
                  margin-bottom: -3px;
              }
          }
      }
    }
    .img{
      width: 190px;
      height: 104px;
    }
    section{
      width: 750px;
      height: 100%;
      background: #fff;
    }
    .swiper{
      width: 750px;
      height: 300px;
      background: #fff;
      img{
        width: 729px;
        height: 280px;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
 }
}