@media screen and(max-width:1170px) {
  .archives {
    width: 1400px;
    height: 80%;
    .left {
      width: 60%;
      height: 100%;
      background-color: #fff;
      margin-left: 60px;
      padding: 10px 20px;
      margin-top: 20px;
      .lefts {
        h1,
        p {
          text-align: center;
        }
      }
    }
    .right {
      width: 320px;
      height: 463px;
      margin-top: -350px;
      float: right;
      position: absolute;
      top: 18%;
      display: none;
      right: 100px;
    }
  }
  .archives .top {
    width: 100%;
    height: 260px;
    background: #fff;
    p {
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    ul li {
      list-style: none;
      line-height: 30px;
      margin-left: 20px;
    }
  }
  .archives .bottom {
    width: 100%;
    height: 260px;
    background: #fff;
    margin-top: 20px;
    p {
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    .ul li:hover {
      color: red;
      cursor: pointer;
    }
  }
  .ul li {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
  }
  .left {
    margin-left: 260px;
  }
  .archives .left .reds {
    color: red;
  }

  .archives .left .red {
    color: red;
  }
  .leftContent p {
    font-size: 35px;
    font-weight: 500;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    color: hotpink;
  }
  .time {
    list-style: disc;
    margin-left: 35px;
    color: #ccc;
    .titles {
      margin-left: 20px;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
    }
  }
  .titles:hover {
    color: red;
  }
  .lis li {
    list-style: none;
    float: left;
  }
  .top ul li:hover {
    color: red;
    cursor: pointer;
  }
}

@media screen and(min-width:1170px) {
  .archives {
    width: 100%;
    height: 80%;
    display: flex;
    .left {
      width: 73%;
      height: 100%;
      background-color: #fff;
      margin-left: 60px;
      padding: 10px 20px;
      .lefts {
        h1,
        p {
          text-align: center;
        }
      }
    }
    .right {
      width: 320px;
      height: 463px;
      margin-top: -403px;
      float: right;
      position: absolute;
      top: 18%;
      display: block;
      right: 100px;
    }
  }
  .archives .top {
    width: 100%;
    height: 260px;
    background: #fff;
    p {
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    ul li {
      list-style: none;
      line-height: 30px;
      margin-left: 20px;
    }
  }
  .archives .bottom {
    width: 100%;
    height: 260px;
    background: #fff;
    margin-top: 20px;
    p {
      font-weight: 700;
      padding: 1rem;
      border-bottom: solid rgb(228, 228, 228) 1px;
    }
    .ul li:hover {
      color: red;
      cursor: pointer;
    }
  }
  .ul li {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
  }
  .left {
    margin-left: 260px;
  }
  .archives .left .reds {
    color: red;
  }

  .archives .left .red {
    color: red;
  }
  .leftContent p {
    font-size: 35px;
    font-weight: 500;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    color: hotpink;
  }
  .time {
    list-style: disc;
    margin-left: 35px;
    color: #ccc;
    .titles {
      margin-left: 20px;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
    }
  }
  .titles:hover {
    color: red;
  }
  .lis li {
    list-style: none;
    float: left;
  }
  .top ul li:hover {
    color: red;
    cursor: pointer;
  }
}
