// 全局样式，常用于第三方样式
// 全局样式，常用于第三方样式
@import '~antd/dist/antd.css';
:global{
  padding: 0;
  margin: 0;
  list-style: none;
}
// 局部样式 常用于业务内部使用 防止全局污染
// :local{
//   .title {
//     background: rgb(121, 242, 157);
//   }
// }

.main{
  width: 97%;
  height: 100%;
  margin: 0 auto;
  // position: relative;
}

section{
  width: 750px;
  height: 100%;
  background: #fff;
  
}
.swiper{
  width: 750px;
  height: 340px;
  background: #fff;
  
  img{
    width: 729px;
    height: 320px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    // background-color: red;
   
  }
  .h2{
    position: absolute;
    top: 40%;
    // left: 50%;
    margin-left: 270px;
    z-index: 10;
    color: #fff;
    font-size: 30px;
  }
  .span{
    position: absolute;
    top: 55%;
    // left: 50%;
    margin-left: 280px;
    z-index: 10;
    color: #fff;
    font-size: 20px;
  }
}
.ul li{
  list-style: none;
  display: inline-block;
  padding: 2px 7px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0 7px 7px 0;
  color: var(--second-text-color);
  line-height: 1.5em;
  transition: all .2s ease-in-out;
  border: solid rgb(236, 236, 236) 1px;
}
.lis li{
   list-style: none;
   float: left;
}
.top ul li:hover{
  color: red;
  cursor: pointer;
}
.middle{
  position: absolute;
  top: 35%;
  margin-left: 280px;
  h2{
    font-size: 30px;
    // font-weight: bold;
    color: #fff;
  }
  p{
    font-size: 20px;
    color: #fff;
  }
}