.know_box{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background: rgb(222, 230, 236);
}
.know_left{
  margin-top: 20px;
  width: 75%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  padding: 10px;
  
  .know_item{
    width: 100%;
    height: 150px; 
    border-bottom: 1px solid #ccc;
    h3{
        margin-top: 5px;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 10px;
        border-right: 1px solid #ccc;
        padding-right: 10px;
    }
    h3:hover{
        color: red;
    }
    
  }
  dl{
      width: 100%;
      height: 100%;
      display: flex;
      justify-self: flex-start;
 
      dt{
        width: 190px;
        height: 100px;
        margin-right: 20px;
          img{
            width: 100%;
            height: 100%;
          }
        
      }
      dd{
         p{
             margin-bottom: 50px;
         }
         span{
             margin-right: 10px;
         }
      }
  }
}
.know_right{
margin-top: 20px;
width:28%;
height: 100%;
overflow: hidden;
background: rgb(222, 230, 236);
// margin-left: 40px;

.right_top{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    p:hover{
        color: red;
    }
}

.right_buttom{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    p:hover{
        color: red;
    }
}
h4{
   width: 100%;
   height: 50px;
   border-bottom: 1px solid #ccc;
   line-height: 50px;
}
p{
padding: 10px;
display: flex;
justify-content: space-between;
span{
    color: darkgray;
  }
 }
}
