.msgher{
    width: 100%;
    height: 100%;
}
.msgherr{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        padding-top: 10px;
    }
}
.msgheader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .msgheader1{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h5{
            width: 100%;
            height: 30px;
            text-align: center; 
            line-height: 30px; 
            font-size: 15px;
        }
        .msglists{
            width: 100%;
            height: 100%; 
            .msginput{
                width: 100%;
                height: 200px;
                background: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid #ccc;
                input{
                    width: 88%;
                    height: 150px;
                    border: #ccc 1px solid;
                    margin-top: 13px;
                }
                button{
                    margin-top: 5px;
                    border: #ccc 1px solid;
                    margin-left:559px;
                }
            }
            .msgslist{
                width: 100%;
                height: 100%; 
                display: flex;
                flex-direction: column;
                align-items: center;
                dl{
                    width: 100%;
                    min-height: 120px;
                    background: #fff;
                    margin-top: 10px;
                    padding-left: 30px; 
                    border: 1px solid #ccc;
                    dt,dd{
                        line-height: 40px;
                        white-space:nowrap; 
                        text-overflow:ellipsis; 
                        -o-text-overflow:ellipsis; 
                        overflow: hidden; 
                        div{
                            white-space:nowrap; 
                        text-overflow:ellipsis; 
                        -o-text-overflow:ellipsis; 
                        overflow: hidden; 
                        }
                    }
                }
            }
        }
    }   
    .msgfooter{
        width: 60%;
        height: 100%;
        background: #fff;
        padding:0 10px;
        .dls{
            width: 100%;
            height: 150px; 
            margin-top: 30px;
            padding: 15px; 
            dt{
                height: 30px;
                line-height: 30px;
                // margin-bottom: 10px;
                p{
                    color: black;
                    // padding-left: -20px;
                }
                b{
                    font-weight: 700;
                    font-size: 17px;
                }
                span{
                    margin-left: 10px;
                    font-weight:100;
                    font-size: 14px;
                    color: #ccc;
                }
            }
            dd{
                width: 100%;
                height: 120px; 
                display: flex;  
                border-bottom: 1px solid rgb(233, 233, 233);
                // padding: 20px 0; 
                margin-top: 15px;

                .p1{
                    color: rgba(0, 0, 0, 0.85);
                    font-weight: 300;
                    margin-left: -1px;
                    margin-top:59px;
                    display: block;
                }
                h1{     
                    width: 190px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    
                } 
                p{
                    margin-left: 20px;
                } 
            }
        }
        .dls:nth-child(1){
            width: 100%;
            height:  80px;
            dd{
                height: 50px;
            }
        }
        .dls:nth-child(2){

        }
        .dls:nth-child(4){
            width: 100%;
            height: 140px;
            margin-top: 15px;
            dt{
                h3{ 
                }
            }
            dd{
                width: 100%;
                height: 120px; 
                display: flex;  
                margin-top: 15px;

                // margin-bottom: 10px;
                h1{
                    min-width: 190px;
                    height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .p1{
                margin-top: 36px;
                
            }
            p{
                margin-left: 20px;
            }
        }
        }
        .dls:nth-child(5){
            width: 100%;
            height: 140px;
            margin-top: 15px;
            dd{
                width: 100%;
                height: 120px; 
                display: flex;  
                margin-top: 15px;

            h1{
                min-width: 190px;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .p1{
                margin-top: 55px;
                
            }
            p{
                margin-left: 20px;
            }
        }
        }
        .dls:nth-child(6){
            width: 100%;
            height: 160px;
            // margin-top: 15px;
            padding-bottom: 30px;
            dd{
                width: 100%;
                height: 120px; 
                display: flex;
                // padding-bottom: 10px;
                margin-top: 15px;
                border: 0;
                h1{
                    min-width: 190px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .p1{
                    margin-top: 15px;
                }
                p{
                    margin-left: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
.dd{
    margin-left: 30px;
}
.fenye{
    width: 100%;
    height: 50px;
    background: #fff; 
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    li:first-child{
        a{
            margin-top: -13px;
        }
    }
    li:last-child{
        a{
            margin-top: -13px;
        }
    } 
}