.Allarticle{
    width: 100%;
    height: 100%;
    .search {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 24px;
        .p1{
            width: 100%;
            height: 40px;
            margin-left: 40px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .weight{
                margin-left: 25px;
            }
            .title{
                margin-left: 25px;
            }
            Input {
                width: 15%;
                height: 30px;
                margin-left: 10px;
            }
            .select{
                width:15%;
                &>Option{
                   margin-left: 30px;
                   font-size: 14px;
                }
            }
            .selects{
                width:15%;
                &>Option{
                   margin-left: 30px;
                   font-size: 20px;
                }
            }
        }
       .p2{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &>Button {
                margin-right: 12px;
                width: 60px;
                height: 32px;
                font-size: 15px;
            }
        }
    }
    .table{
        width: 100%;
        margin: 0 auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 24px;
        .new{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &>Button{
                width: 85px;
                height: 35px;
                font-size: 15px;
                text-align: center;
                margin-right: 10px;
              }
            }
            .aa{
              width: 70px;
              height: 35px;
              font-size: 15px;
              text-align: center;
              margin-right: 20px;
              line-height: 35px;
              background-color: #0188fb;
              color: #fff;
              border-radius: 5px;
            }
        }
        .total{
            display: flex;
            float: right;
            margin-top: 30px;
            &>div:nth-child(1){
             margin-right: 15px;
             margin-top: 5px;
             font-weight: 400;
            }
        }
    }
// }
.read{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: rgb(82, 196, 26);
    color: #fff;
}
.like{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: rgb(235, 47, 150);
    color: #fff;
}
