.detail_box{
    width: 100%;
    height:100%;
    margin-top: 60px;
   //  background-image: linear-gradient(to bottom, rgba(var(--rgb-bg-second), 0), rgba(var(--rgb-bg-second), 1));
   }
   
   
   .detail{
       width: 100%;
       height: 100%;
       overflow: hidden;
       margin: 0 auto;
       display: flex;
       justify-content: space-around;  
   }
   .detail_left{
     position: relative;
     margin-top: 30px;
     width:85%;
     height: 100%;
     background: #fff;
     padding: 10px;
     
     h3{
       position: absolute;
       left: 0;
       top: -30px;
       z-index: 999;
     } 
     dl{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       overflow: hidden;
       
   
   
       dt{
         width: 100%;
         height: 200px;
         margin-right: 20px;
         padding-left: 15px;
           img{
             width: 100%;
             height: 100%;
           }
         
       }
        .title{
            font-size: 16px;
            font-weight: 700;
        }
          p{
              margin-top: 10px;
              margin-bottom: 10px;
          }
   
       
   }
    ul{
        width: 100%;
        margin-top: 30px;
        li{
            width: 100%;
            height: 44px;
            line-height: 44px;
            padding-left: 10px;
            position: relative;
        }
        .time{
          position: absolute;
          right: 20px;
          display: none;
   
        }
        li:hover{
            background: #ccc;
            color: red;
        }
        li:hover .time{
         display: inline-block;
       } 
    }
     
   }
     
   
   .detail_right{
   margin-top: 30px;
   position: relative;
//    width:48%;
   background: #fff;
   margin-left: 30px;
   h3{
       position: absolute;
       left: 0;
       top: -30px;
       z-index: 999;
     } 
    .right_item{
      width: 100%;
      height:160px;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      h4{
        display: inline-block;
        border-right: 1px solid #ccc;
        padding-right: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding-left: 10px;
      }
      .dlitem{
        width: 100%;
        height: 80%;
        padding: 10px;
        display: flex;
    
        
        dt{
          width: 100%;
          height: 100px;
          margin-right: 10px;
          img{
            width:150px;
            height: 100px;
          }
        }
        .dditem{ 
          width: 40%;
          height: 100%;
          margin-left: -140px;
          p{
           overflow: hidden;
           text-overflow:ellipsis;
           white-space: nowrap;
          }
        }
      }
     
    }
   
   
   }
   