.poster{
    width: 100%;
    height: 100%;  
    text-align:left;
}
.posterheader{
    width: 100%;
    height: 128px;
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    // align-items: center;
    justify-content: space-around; 
    .left{
        margin-left: 20px;
        input{
            height: 30px;
            padding-left: 10px;
            border: 1px solid #ccc;
        }
    }
    .right{
        display: flex;
        justify-content:flex-end;
        button{
            width: 64px;
            height: 32px;
            margin-left: 10px;
        }
        button:nth-child(1){
            color: #fff;
            background: #0188fb;
            border: 0;
            border-radius: 2px;
        }
        button:nth-child(2){
            color: black;
            background: #fff; 
            border: 1px solid #ccc;
            border-radius: 2px;
        }
    }
}
.posterfoolter{
    width: 100%;
    height: 240px;  
    margin-top: 10px;
}