.files {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
//   padding-left: 20px;
  .files_header {
    width: 25%;
    height: 150px;
    cursor: pointer;
    dt {
      img {
        width: 130px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    dd {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
