.knowledge_imgs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .knowledge_imgdiv {
    margin: 5px 15px;
  }
}
.knowledge {
  width: 100%;
  height: 100%;
  overflow: auto;
  .knowledge_serach {
    display: flex;
    height: 100px;
    background-color: #efefef;
    .ant-row ant-form-item {
      display: flex;
    }
  }
  .comment_froms {
    display: flex;
    margin-top: 20px;
    .comment_inputs {
      width: 200px;
      height: 50px;
      margin: 0 20px;
    }
  }
  .knowledge_imgss {
    background-color: #efefef;
    margin-top: 20px;
    .knowledge_imgs {
      width: 100%;
      background-color: #efefef;
    }
  }
  .knowledge_buttons {
    width: 100px;
    height: 30px;
    float: right;
    color: #fff;
    background-color: rgb(56, 74, 245);
  }
}
.knowledge_create {
  width: 100%;
  line-height: 45px;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  border-top: 1px #ccc solid;
  Button {
    float: right;
    margin-right: 30px;
    color: #3e1dcf;
    width: 100px;
  }
  Button:hover {
    border: solid rgb(44, 28, 187) 1px;
    color: rgb(54, 43, 199);
  }
}
.knowledge_footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.files {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //   padding-left: 20px;
  .files_header {
    width: 25%;
    height: 150px;
    cursor: pointer;
    dt {
      img {
        width: 130px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    dd {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
